* {
    box-sizing: border-box;
}
button {
    display: flex; 
    width: 7.5%; 
    justify-content: center;
    align-content: center;
}
body {
    margin: 0;
    display: grid; 
}

#table {
    height: 50rem; 
    width: 75rem; /*3,750 sq rem in digital area*/
    border: 1px solid black; 
    background-color: rgb(50, 150, 50);
}

#table-top {
    display: flex; 
    flex-direction: row;
}

section{
    display: flex;
    flex-direction: flex-start;
    border: 1px solid black; 
    background-color: rgb(41, 123, 41);
    height: 15rem; 
    width: 40rem;
    padding: 1px;
}

#foundations > section {
    display: grid; 
    grid-template-columns: 1fr, 1fr, 1fr, 1fr; 
    grid-template-rows: 1fr; 

}


#stock {
    display: flex;
    height: 15rem; 
    width: 12rem; 
    border: 1px solid black; 
}

#waste {
    display: flex; 
    height: 15rem; 
    width: 12rem; 
    border: 1px solid red; 
    right: 200px;
    padding: 1px;
}

#waste, #stock {
    align-self: flex-start;
}



#tableau > div {
    height: 15rem; 
    width: 10rem; 
    border: 1px solid black;
    display: inline-block;
}

.card {
    height: 11rem; 
    width: 10rem; 
    border: 1px solid black; 
    color: red;
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/a2b99b78814263.5caf8da69d88a.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.card.red {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    border-radius: .5rem;
    display: flex; 
    justify-content: center;
    align-items: center; 
    font-size: 4rem;
}

.card.black {
    color: black; 
}

.card::before, .card::after {
    position: absolute;
    content: attr(data-value);
    font-size: 1rem; 
}

.card::before {
    top: .5rem; 
    left: .5rem;
}

.card::after {
    bottom: .5rem; 
    right: .5rem;
    transform: rotate(180deg);
}

